In [ ]:
# HI There, Just relax and enjoy the show :)

# Your task in this challenge is to predict the cost of the houses in particular blocks 
# based on different sociodemographic attributes 
# (It's up to you to decide which attributes you want to use, you can include location information or not)

# You can use any of the libraries that you want
# These libraries below are just a recommendation


# CHALLENGE 1: If some of those libraries are  not available on your system,
# you would need to resolve the dependencies as part of this challenge

import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns 
from sklearn.datasets import fetch_california_housing

%matplotlib inline

In [ ]:
# We will work with this dataset in the next steps
# CHALLENGE 2: Load the data ( it will get harder :) )
df = fetch_california_housing(as_frame=True)["frame"]
df.head()

# ---- Attribute Information ----:
# MedInc:  median income in block
# HouseAge:  median house age in block
# AveRooms:  average number of rooms
# AveBedrms:  average number of bedrooms
# Population:  block population
# AveOccup:  average house occupancy
# Latitude:  house block latitude
# Longitude:  house block longitude
# MedHouseVal: the median house value for California districts (!! our target variable !!)

# This dataset was derived from the 1990 U.S. census, using one row per census
# block group. A block group is the smallest geographical unit for which the U.S.
# Census Bureau publishes sample data (a block group typically has a population
# of 600 to 3,000 people).

   MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  MedHouseVal
0  8.3252      41.0  6.984127  ...     37.88    -122.23        4.526
1  8.3014      21.0  6.238137  ...     37.86    -122.22        3.585
2  7.2574      52.0  8.288136  ...     37.85    -122.24        3.521
3  5.6431      52.0  5.817352  ...     37.85    -122.25        3.413
4  3.8462      52.0  6.281853  ...     37.85    -122.25        3.422

[5 rows x 9 columns]

In [ ]:
# CHALLENGE 3: Explorative Data Analysis and Data Cleaning
# Examine the data for outliers, missing values and try to apply some
# cleaning on the data. Provide visualization if possible
# Do you see any patterns, correlations in the data?
# Please describe your observations

In [ ]:
# CHALLENGE 4: Now divide your dataset into train- and testset and apply any models you want
# (you can use any frameworks you want e.g sklearn, tensorflow etc)

In [ ]:
# CHALLENGE 5: Measure the results of your models and apply model selection
# Please argue why would you select one model over another

In [ ]:
# CHALLENNGE 6: Write a summary report of your results, including plots and 
#discussion of your results (You can reuse the outcome/plots from above). 
#The report shall cover the following questions:
# 1. What was most interesting/surprising for you when you explored and visualized the data?
# 2. What was the biggest problem for you to complete all challenges, and how did you solve the problem?
# 3. Which model performed best, and why?
# 4. ...